<!DOCTYPE html>
<% members.each do |member| %>
  <h1><%= member.first_name + "　" + member.last_name %></h1>
  <p>name: <%= member.first_name + "　" + member.last_name %></p>
  <p>age: <%= member.age %></p>
<% end %>
