<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="style.css">
  <title>Monotter</title>
</head>

<body>
  <div>
    <h1>monotter</h1>

    <form action="/create" method="post">
      <input type="text" name="text">
      <button type="submit">つぶやく</button>
    </form>

    <main>
      <p>投稿件数: <%= @tweet_count %></p>
      <% @tweets.each do |t| %>
      <p><%= t.text %> | <%= t.created_at %></p>
      <% end %>
    </main>
  </div>
</body>

</html>